.searchFrom {
    margin: 5rem auto;
    text-align: center;
}
.search-input {
    width: 25%;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: #fff 2px 2px 5px, -2px -2px 5px;
    border: none;
    color: #fff!important;

}
.search-input::placeholder {
    color: #fff;
}
.top-head {
    color: #fff;
    margin: 3rem 0;
}